body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

h1,h2,h3 {
    font-family: 'Bree Serif', serif;
    font-weight: 400;
}

h2 {
    color: #2de8df;
}

h3 {
    color: #ee8a55;
}

header {
    border-top: #2de8df 10px solid;
    padding-top: 20px;
    margin-bottom: 20px;
}

.nav-buttons-links {
    text-decoration: none;
    color: #000000;
}

.nav-buttons-links:hover {
    color: #efefef;
    border-bottom-color: #2de8df;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 20px;
}

.logo {
    display: block;
    margin: auto;
}

header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

header nav ul {
    list-style-type: none;
    display: inline-block;
    width: 38%;
    padding-left: 0;
}

header nav ul li {
    float: left;
    vertical-align: text-bottom;
    width: 50%;
    overflow: hidden;
    text-align: center;
    display: inline;
    line-height:120px;
    height:120px;
}

.hero h1 {
    text-align: center;
    font-size: 82px;
}

.hero {
    margin-bottom: 100px;
}

.sample-page-button {
    margin-left: auto;
    margin-right: auto;
    height: 65px;
    width: 300px;
    text-align: center;
    line-height: 70px;
    background-color: #2bf1e7;
    color: #21b3ac;
    padding: 15px 32px;
    box-shadow:0px 10px 5px  #21b3ac;
    border-radius: 12px;
}

.sample-page-button:hover {
    box-shadow: inset 0px 0px 10px 1px #25aca5;
}

hr {
    margin-top: 20px;
    width: 100%;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* Content Part */

.content {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: none;
    margin-bottom: 50px;
    font-size: 11pt;
}

.article-img {
    padding: 1px;
    border: 1px solid #000000;
    margin-right: 5px;
    float: left;
}

.article-head {
    vertical-align: top;
}

.article-top-text {
    float: right;
    padding-left: 10px;
    width: 200px;
}

.article-top-text p {
    display: inline;
    vertical-align: top;
}

.article-text {
    overflow: visible;
}

.article-bottom {
    margin-top: 130px;
    vertical-align: bottom;
}

.first-column {
    width: 295px;
    overflow: hidden;
    text-align: justify;
    float: left;
}

.first-column h3 {
    text-align: left;
    font-size: 28pt;
}

.second-column {
    display: inline-block;
    width: 295px;
    text-align: justify;
    margin-left: 25px;
    margin-right: 22.5px;
}

.second-column h3 {
    text-align: left;
    font-size: 28pt;
}


.third-column {
    width: 295px;
    float: right;
    text-align: justify;
}

.third-column h3 {
    text-align: left;
    font-size: 28pt;
}

.read-more {
    float: right;
    color:#dbdbdb;
    text-decoration: none;
    margin-bottom: 20px;
}

.read-more:hover {
    color: #2de8df;
}

a {
    text-decoration: none;
}

/* Contact us Part */

form {
    clear: both;
    width: 940px;
    margin: auto;
}

input {
    width: 440px;
    height: 30px;
    float: left;
    display: block;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 10px;
    background-color: #f9f9f9;
    margin-right: 20px;
    border-style: none;
    color: #d6d6d6;
    font-size: 14pt;
    box-shadow: inset 0px 0px 10px #dddddd;
}

.input {
    width: 460px;
    float: left;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    width: 440px;
    height: 150px;
    display: block;
    resize: none;
    border-radius: 6px;
    border-style: none;
    padding: 10px;
    background-color: #f9f9f9;
    color: #d6d6d6;
    font-size: 14pt;
    box-shadow: inset 0px 0px 10px #dddddd;
}

.msg {
    width: 460px;
    float: right;
}

.contact h2 {
    text-align: center;
    font-size: 58pt;
}

.send-message {
    width: 940px;
    height: 70px;
    display: block;
    padding-top: 250px;
}

.submit {
    margin-left: 240px;
    width: 460px;
    height: 48px;
    display: block;
    border-radius: 12px;
    box-shadow: 0px 8px 3px #21b3ac;    
    background-color: #2bf1e7;
    color: #21b3ac;
}

.submit:hover {
    box-shadow: inset 0px 0px 10px 1px #25aca5;
}

/* back to top */

.to-top {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #000000;
    width: 300px;
    height: 55px;
    border-radius: 6px;
    box-shadow: 0px -6px 5px #555555;
    margin-top: 80px;
    text-align: center;
    margin-bottom: -20px;
    line-height: 50px;
    font-size: 10pt;
    color: #ffffff;
    text-decoration: none;
}

/* start of footer */

footer {
    height: 150px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-navigations {
    width: 30%;
    float: left;
    display: inline-block;
    margin-right: auto;
    align-items: center;
    margin-left: 2.5%;
    margin-top: 20px;
}

.footer-navigations ul li {
    margin-top: 10px;
}

.footer-navigations a{
    color: white;
    text-decoration: none;
}

.left {
    display: inline-block;
    float: left;
    margin-right: 10%;
}

.right {
    display: inline-block;
    float: left;
}


.fb {
    margin-left: 50px; 
}

.tw {
    margin-left: 32.5%;
}

.middle-bottom {
    width: 30%;
    margin-top: 35px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 120px;
    display: inline-block;
}

.right-corner {
    width: 30%;
    display: inline-block;
    text-align: right;
    color: white;
    float: right;
    height: 120px;
    line-height: 120px;
    margin-right: 2.5%;
}
/* end of footer */

/*Media queries for responsive for max width 1122 px*/

@media only screen and (max-width: 1122px) {
    
    footer {
        height: auto;
    }
    
   .footer-navigations, .right-corner {
        flex-grow: 2; 
    }
    
    .middle-bottom {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 50px;
    }
    
    .footer-navigations, .right-corner {
        display: block;
        float: none;
        width: auto;
    }
    
    .right-corner {
        text-align: center;
        margin-right: 2.5%;
    }
    
    
    .right-corner p {
        height: 70px;  
    }
    
    .left {
        margin-right: 0;
    }
    
    .right {
        float: left;
    }

    .tw {
        margin-left: 0;
    }
}

/*Media queries responsive for max width 940px*/

@media only screen and (max-width: 940px) {
    
    .content {
        width: auto;
        height: auto;
    }
    
    .first-column, .second-column, .third-column {
        display: block;
        margin: auto;
        float: none;
    }
    
    form {
        height: auto;
        width: auto;
    }
    
    .input, .msg {
        float: none;
        display: block;
        margin: auto;
    }
    
    .send-message {
        width: auto;
        margin-top: -160px;
    }
    
    .submit {
        margin: auto;
        float: none;
        display: block;
    }
}

/*Media queries responsive for max width 575px*/ 

@media only screen and (max-width: 575px) {
    
    header nav ul li {
        width: auto;
        display: block;
        float: none;
        vertical-align: middle;
        height: 70px;
        line-height: 70px;
    }
    
    .logo {
        display: block;
        float: none;
        vertical-align: top;
    }
    
    .contact {
        width: 95%;
        margin: auto;
    }
    
    form {
        padding: 0 10px;
    }
    
    .input, .msg {
        float: none;
        width: auto;
    }
    
    .send-message {
        width: auto;
        margin-top: -160px;
    }
    
    .submit {
        width: 90%;
    }
    
    input {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    textarea {
        width: 90%;
    }
    
    .hero {
        padding: 0 10px;
    }
    
    .sample-page-button {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
}
